* {
    font-family: 'Cinzel', serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
    font-weight: bold;
}

.flex_center {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    height: 100vh;
    background: #55B795;
}

.roll {
    font-size: 40px;
    position: absolute;
    width: 300px;
    height: 200px;
    left: 0;
    right: 0;
    margin: auto;
    top: 30px;
    bottom: 0;
    background-color: #55B795;
    border-radius: 10px;
    border: 5px solid;
}

.welcome {
    font-family: 'Edu TAS Beginner', cursive;
    opacity: 96%;
    padding-top: 50px;
    position: absolute;
    text-align: center;
    flex-direction: column;
    width: 90%;
    height: 90%;
    background-color: cornflowerblue;
    border-radius: 10px;
}

.close {
    position: absolute;
    right: 0;
    top: 0;
}

h1 {
    font-size: 60px;
    margin-bottom: 40px;
}

h3 {
    font-size: 40px;
    margin-bottom: 10px;
}

ol {
    text-align: left;
    padding-left: 200px;
    font-size: 30px;
}

p {
    margin: 30px 20px;
    font-size: 30px;
}

.opacity {
    opacity: 60%;
}

.hidden {
    display: none;
}

.player1 {
    position: absolute;
    width: 25%;
    height: 500px;
    left: 5%;
    top: 20%;
    background: #990D3D;
    border-radius: 10px;
}

.middle {
    position: absolute;
    width: 35%;
    height: 100%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 0;
}

.player2 {
    position: absolute;
    width: 25%;
    height: 500px;
    right: 5%;
    top: 20%;
    background: #990D3D;
    border-radius: 10px;
}

.score {
    position: absolute;
    width: 183px;
    height: 44px;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 10%;
    background: #B75577;
    border-radius: 10px;
    font-size: 20px;
}

.level {
    position: absolute;
    width: 136px;
    height: 33px;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 25%;
    background: #B75577;
    border-radius: 10px;
}

.name {
    position: absolute;
    width: 183px;
    height: 44px;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 10%;
    background: #B75577;
    border-radius: 10px;
}

.user {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0;
    top: 10%;
    background: #B75577;
    border-radius: 10px;
}

.game {
    position: absolute;
    width: 100%;
    height: 70px;
    margin: auto;
    top: 10px;
    left: 0;
    right: 0;
    background: #990D3D;
    border-radius: 10px;
    font-size: 28px;
}

.rules {
    position: absolute;
    width: 300px;
    height: 60px;
    margin: auto;
    left: 0;
    right: 0;
    top: 90px;
    background: #990D3D;
    border-radius: 10px;
    font-size: 17px;
}

.gameboard {
    position: absolute;
    width: 100%;
    height: 400px;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 130px;
    background: #B75577;
    border-radius: 10px;
}

.boardname {
    position: absolute;
    width: 200px;
    height: 30px;
    left: 0;
    right: 0;
    bottom: 5%;
    margin: 0 auto;
    font-size: 22px;
}

.start {
    position: absolute;
    width: 350px;
    height: 80px;
    margin: auto;
    bottom: 30px;
    left: 0;
    right: 0;
    background: #990D3D;
    border-radius: 10px;
    font-size: 30px;
}

.playername {
    font-size: 25px;
    position: absolute;
    text-align: center;
    width: 400px;
    height: 24px;
    margin: auto;
    top: 50px;
    left: 0;
    right: 0;
}

.dice1 {
    padding-top: 40px;
    text-align: center;
    margin: auto;
    top: 0px;
    bottom: 0;
    left: 10%;
    position: absolute;
    width: 150px;
    height: 200px;
}

.dice2 {
    padding-top: 40px;
    text-align: center;
    margin: auto;
    top: 0px;
    bottom: 0;
    right: 10%;
    position: absolute;
    width: 150px;
    height: 200px;
}

.win {
    font-size: 50px;
    position: absolute;
    top: 30px;
    width: 800px;
    height: 200px;
    border-radius: 10px;
    background-color: white;
}